{:ns     system
 :import #{aidbox aidbox.config

            hl7-fhir-us-core
            hl7-fhir-us-davinci-pdex-plan-net
            hl7-fhir-us-davinci-pdex
            hl7-fhir-us-dme-orders
            hl7-fhir-us-davinci-pdex-plan-net
            hl7-fhir-uv-sdc
            fhir-org-nz-ig-base
            hl7-fhir-us-davinci-hrex
            hl7-terminology-r4
            us-nlm-vsac
            hl7-fhir-r4-core
            hl7-fhir-us-davinci-drug-formulary
            hl7-fhir-us-mcode
            hl7-fhir-us-carin-bb
            hl7-fhir-uv-bulkdata
}

 box
 {:zen/tags #{aidbox/system}}}
